.bodyIndex {
    display: grid;
    grid-template-areas: 'nav nav nav nav '
        'titulo titulo titulo titulo'
        'card card card1 card1'
        'footer footer footer footer'
    ;
    margin: 0;
    padding: 0;
    background-color: rgb(177, 191, 206);
}

.bodyContacto {
    background-color: rgb(177, 191, 206);
}

.nav {
    grid-area: nav;

}

.tituloPrincipal {
    grid-area: titulo;
    text-align: center;
    padding: 20px;
    background-color: rgb(177, 191, 206);
    font-family: 'PT Sans', sans-serif;

}

.tituloPrincipal h1 {
    font-size: 40px;
    font-weight: bold;
}

.cards-body {
    grid-area: card;
    display: flex;
    justify-content: center;
    padding: 20px;
}

/* footer */


.sectionFooter {
    padding: 20px;
}

.cards-body1 {
    display: flex;
    grid-area: card1;
    justify-content: center;
    padding: 20px;
}

.parrafo {
    grid-area: parrafo;
}

.iconosFooter {
    grid-area: imagenes;
}

.iconosFooter:hover .nombre {
    grid-area: nombre;
}

/* fin footer */
.footerIndex {
    grid-area: footer;
    background-color: #212529;
    display: flex;
    padding: 50px;
    color: white;
}

.card-body {
    background-color: pink;
    font-family: 'Anek Odia', sans-serif;
    border: solid 2px black;

}

.card-body h2 {
    text-align: center;
    font-weight: bold;
}

.card-body p {
    font-size: 20px;

}

.nav-item {
    font-size: 25px;
}

.navbar {
    background-color: rgb(177, 191, 206);
}

.card img {
    border: solid 2px black;
}

/* productos */
.imagenesCarrousel img {
    width: 500px;


}

.imagenesCarrousel {
    text-align: center;
    background-color: #212529;
}

#titulo {
    padding: 50px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bolder;
    text-align: center;
    grid-area: titulo1;

}

.bodyProductos {
    display: grid;
    grid-template-areas: 'nav nav nav'
        'titulo1 titulo1 titulo1'
        'carrousel carrousel carrousel'
        'footer footer footer';
    background-color: rgb(177, 191, 206);

}

#carrouselProductos {
    grid-area: carrousel;
    padding: 20px;


}

.legumbres {
    text-align: center;
    margin: 10px;
    padding: 40px;

}

.frutosSecos {
    padding: 40px;
}

.semillas {
    padding: 40px;
}

.parrafo {
    padding: 50px;
    font-family: 'Anek Odia', sans-serif;
    text-align: center;
    font-size: 20px;
}

.formularioMain {
    justify-content: center;
}

.formulario {



    padding: 150px 0 20px 0;
    width: 70vw;
    text-align: center;
    margin: 0 auto;
}

.formulario label {
    color: #000000;
}

.formulario h2 {
    margin: 0;
    padding: 40px;
    color: #000000;
}

.btn {
    background-color: pink;
}

/* footer */
#footer1 {
    grid-area: footer;
    padding-bottom: 0%;
    margin: 0px;
}

.footer-vender {
    color: #c5c3c3;
    background-color: black;
    width: 100%;
    padding-bottom: 40px;
}

.footer-flex {
    display: flex;
}

.column2 {
    align-content: space-evenly;
    display: flex;
    justify-content: center;
}

.column1 p {
    font-family: "Tajawal", sans-serif;
    font-weight: 400;
    padding-top: 25px;
    font-size: 16px; }


    .column3 p {
        font-family: "Tajawal", sans-serif;
        font-weight: 400;
        padding-top: 25px;
        font-size: 16px; }

        .social-foot {
            text-align: left;
            padding: 15px;
            display: inline-flex;
            margin-top: 20px;
            transition: all .3s ease-in-out; }
          
          .social-foot:hover {
            transform: scale(1.3); }